@import "../../styles/variables";
@import "../../styles/mixin";

.AdvancedSearchPanel.sectionWrapper {
  background-color: #f1f8f6;
  padding: 40px 25px;
  width: 100%;

  &.AdvancedSearchPanel--inverted {
    background-color: $color-white;
  }
}

.AdvancedSearchPanel input:disabled {
  background-color: #f2f2f2;
  border: 1px solid $color-grey-80;
  color: $color-grey-40;
  opacity: 1;

  &::placeholder {
    color: $color-grey-40;
    opacity: 1;
  }
}

.AdvancedSearchPanel__filters {
  @include flex-box;
  @include flex-wrap(wrap);
  width: 100%;

  .AdvancedSearchPanelFilters__filter {
    width: calc((100%) / 3);
    padding: 0 10px 20px 0;

    &:nth-child(3n) {
      padding-right: 0;
    }

    & > label {
      font-size: 14px;
      color: $color-blu-lighter;
    }
  }
}

.AdvancedSearchPanel__footer {
  @include flex-box;
  @include flex-flow(row, nowrap);
  @include flex-justify-space-between;
  margin-top: 60px;

  & > div:last-child {
    @include flex-box;

    & > div:nth-last-child(2),
    & > div:last-child {
      margin-left: 15px;
    }
  }
}

.advancedSearchPanel__selectSpinner {
  position: absolute;
  bottom: -3px;
  right: 10px;
}

.advancedSearchPanel__warningInfo {
  color: rgba(15, 118, 110, 0.67);
  width: 450px;
  font-size: 15px;
  gap: 10px;
  margin-top: 20px;
  background: rgba(15, 118, 110, 0.04);
  padding: 10px;
  @include flex-box;
  @include flex-align-items(center);
  @include flex-justify-center;
}
