//icon variant
.icon-check--bic {
  color: #b2ce27;
  font-size: 20px;
}
.icon-check--disable,
.icon-deny--disable {
  color: #e9edf2;
  font-size: 20px;
}
.cursor-pointer {
  cursor: pointer;
}
.pointer-events-none {
  pointer-events: none;
}
