@mixin font-family-roboto {
  font-family: "Roboto", serif;
}

@function scaleToFactor($value, $factor) {
  @return $value * $factor;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin box-shadow($x, $y, $blur, $spread, $color, $inset: none) {
  @if ($inset) {
    -webkit-box-shadow: $x $y $blur $spread $color $inset;
    -moz-box-shadow: $x $y $blur $spread $color $inset;
    -ms-box-shadow: $x $y $blur $spread $color $inset;
    box-shadow: $x $y $blur $spread $color $inset;
  }
  @if ($inset == none) {
    -webkit-box-shadow: $x $y $blur $spread $color;
    -moz-box-shadow: $x $y $blur $spread $color;
    -ms-box-shadow: $x $y $blur $spread $color;
    box-shadow: $x $y $blur $spread $color;
  }
}

@mixin box-shadow-none {
  -webkit-box-shadow: none;
  box-shadow: none;
}

@mixin flex-box {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;
}

@mixin transition-all($time) {
  -webkit-transition: all $time;
  -o-transition: all $time;
  transition: all $time;
}

@mixin flex($grow, $shrink, $basis) {
  -ms-flex: $grow $shrink $basis; /* IE 10 */
  flex: $grow $shrink $basis;
}

@mixin flex-grow($value) {
  -webkit-box-flex: $value;
  -ms-flex-positive: $value;
  flex-grow: $value;
}

@mixin flex-direction($value) {
  -ms-flex-direction: $value;
  flex-direction: $value;
}

@mixin flex-wrap($value) {
  -ms-flex-wrap: $value;
  flex-wrap: $value;
}

@mixin flex-flow($direction, $wrap) {
  -ms-flex-flow: $direction $wrap;
  flex-flow: $direction $wrap;
}

@mixin flex-justify-space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

@mixin flex-justify-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@mixin flex-justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@mixin flex-justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@mixin flex-justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@mixin flex-align-items($value) {
  @if $value == end {
    align-items: flex-end;
    align-content: flex-end;
  } @else if $value == start {
    align-items: flex-start;
    align-content: flex-start;
  } @else {
    align-items: $value;
    align-content: $value;
  }
  align-items: $value;
  -webkit-box-align: $value;
  -ms-flex-line-pack: $value;
}

@mixin flex-align-content-space-between {
  -ms-flex-line-pack: justify;
  align-content: space-between;
}
@mixin flex-align-content-space-around {
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

@mixin flex-align-self($direction) {
  -ms-flex-item-align: $direction;
  -ms-grid-row-align: $direction;
  align-self: $direction;
}

@mixin flex-shrink-0 {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

@mixin scroll-table-container($right: 0) {
  position: relative;
  &:after {
    content: "";
    @include box-shadow(-23px, 0px, 13px, -13px, rgba(0, 0, 0, 0.06), inset);
    position: absolute;
    height: calc(100% - 2px);
    width: 20px;
    top: 0;
    z-index: 2;
    @if $right {
      right: $right;
    } @else {
      right: 0;
    }
  }
}

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@mixin hypens() {
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@mixin scrollbars(
  $size: 6px,
  $foreground-color: $color-blu-lighter,
  $background-color: $color-white
) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

@mixin scrollbars-transparent(
  $size: 6px,
  $foreground-color: $color-blu-lighter,
  $background-color: transparent
) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: transparent;
  }
}
