.c-note-head {
  background-color: #0f766e;
  max-height: 50px;
  padding: 8px 0;
  height: 40px;
}

.l-container-fluid {
  width: 100%;
  padding: 0 20px;
  zoom: 1;
}

.c-semantic-search-logo {
  float: left;
  width: 100%;
  max-width: 154px;
  height: 32.52px;

  img,
  svg {
    width: 100%;
    max-width: 154px;
    height: 32px;
    object-fit: contain;
  }
}
